* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #238BF8;
    user-select: none;
}

#title {
    width: 100%;
    font-family: 'Fredoka One', sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: #FAB201;
    -webkit-text-stroke: 5px white;
    margin-top: 70px;
}

#flex {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

#grid-box {    
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-column-gap: 10px ;
    grid-row-gap: 10px;
}

.box {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAB201;
    font-size: 40px;
    font-family: 'Fredoka One', sans-serif;
}

#footer {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    font-weight: 400;
    font-family: 'Fredoka One', sans-serif;
    margin-top: 70px;
}

#popup {
    display: none; 
    flex-direction: column;
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);     
}
#result{
    font-size: 50px;
    color: white;
    font-family: 'Fredoka One', sans-serif;
}

#button{
    font-family: 'Fredoka One', sans-serif;
    padding: 10px;
    margin-top: 30px;
    background-color:#fa9e09;
    color: white;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    opacity: 0.7;
    border-radius: 5px;
    z-index: 2;
}

